*
{
    padding: 0;
    margin: 0;
    border:0;
    font-family: 'Roboto', sans-serif;
}
.contenedor
{
    width: 100%;
    height: 210px;
    background: #337DFF;
}
header > h1
{
    position: absolute;
    top: 118px;
}
figure
{
    float: left;
}
figure > img
{
    width: 20%;
    position: absolute;
    top: -65px;
    
}
nav li
{
    display: inline-block;
    position: relative;
    left: 400px;
    top: 160px;
    margin: 15px;
   
}
a
{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#button
{
    position: relative;
    float: right;
    right:0px;
    color: black;
    font-size: 20px;
    top: 100px;
    margin: 15px;
}
#mundo
{
    position: relative;
    float:right;
    color:black;
    left:170px;
}
.fa-shopping-cart
{
    position: relative;
    top:-30px;
    left: -45px;
    font-size: 30px;
}
.fa-user
{
    position: relative;
    top:-30px;
    left: -45px;
    font-size: 30px;
}
.fa-globe-americas
{
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 30px;
}
button
{
    position: relative;
    top: 120px;
    left: 50px;
    border-radius: 8px;
    width: 250px;
    height: 30px;
    background: white;
}
.fa-search
{
    position: relative;
    left: -50px;
}
.fa-angle-left
{
    position: absolute;
    font-size: 50px;
    top: 40%;
    color: beige;
    left: 3%;
   
}
.fa-angle-right
{
    position: absolute;
    font-size: 50px;
    top: 40%;
    right: 3%;
    color: beige;
   
}

.banner
{
    height:490px;
    width: 100%;
    position: relative;
}

.banner img{
	width: 100%;
}

.pie-pagina
{
    width: 100%;
    clear: both;
    text-align: center;

}
p
{
    font-size: 20px;
}


/*REGISTRARSE*/
.contenedor-registrarse
{
 background: #337DFF;
 width: 100%;
 height: 170px;
 position:absolute;
 text-align: center;
}
.contenedor-registrarse img
{
    position: relative;
    left:515px;
    width: 300px;
    top: -80px;
 
}
.contenedor-registrarse h1 {left: 480px;}

.formulario
{
    position: relative;
    top: 200px;
    background: #5DADE2;
    height: 400px;
    width: 500px;
    left: 450px;
    border-radius: 8px;
}
.texto
{
    position: relative;
    left: 150px;
    font-size: 20px;
    top: 20px;
}
input
{
    
    position: relative;
    top: 20px;
    left: 100px;
    width: 300px;
    height: 25px;
    
}
h4
{
    text-align: center;
    font-size: 20px;
    top: 50px;
    position: relative;
}

h2
{
    text-align: center;
}
.boton-enviar
{
    position: relative;
    top: 70px;
    left:130px ;
}